.aboutme {
  display: flex;
  flex-direction: row;
  margin: 30px auto 0 auto;
  justify-content: center;
  max-width: 1500px;
}

.skillSet {
  width: 55%;
}

.skillTitle {
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
}

.iconGroup {
  position: relative;
  padding: 0 60px 30px 60px;
}

.iconRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.logoItem {
  padding: 10px 15px;
}

.iconGroup > * {
  flex-shrink: 1;
}

.iconSquare {
  max-width: 120px;
  line-height: 0;
}

.logoCap {
  margin: 5px 0;
  text-align: center;
}

.nameIntro {
  width: 45%;
  padding-right: 50px;
}

.headingMain {
  font-size: clamp(2.5rem, 8vw + 1rem, 9rem);
  margin: 0;
  text-align: end;
}

.headingStr {
  font-size: 2rem;
  margin: 0;
  padding-right: 20px;
  text-align: end;
}

@media screen and (max-width: 1180px) {
  .aboutme {
    flex-direction: column-reverse;
    align-items: center;
  }
  .skillSet {
    width: 100%;
  }
  .skillTitle {
    margin-top: 20px;
  }
  .nameIntro {
    width: 450px;
  }
  .headingMain {
    font-size: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .aboutme {
    margin: 0;
  }
  .iconGroup {
    position: relative;
    padding: 0 30px 20px 30px;
  }
  .iconRow {
    flex-wrap: wrap;
  }
  .iconSquare {
    max-width: 75px;
  }
  .nameIntro {
    width: 100%;
    padding: 10px 40px;
  }
  .headingMain {
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .headingMain {
    font-size: 4rem;
  }
}
