.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #3d3535;
}

.footer > div {
  display: flex; /*Remove this and icon function will break, idk why*/
}

.footer > div > * {
  padding: 0 15px;
  transition: 0.15s ease-in;
}

.footer > div > a:hover,
.footer > div > button:hover {
  transform: translate(0, 7px);
}

.footer > div > button {
  border: none;
  background-color: #ffffff00;
}

.disBtn {
  cursor: pointer;
}

.footer > p {
  color: #fff;
  margin: 16px 0 0 0;
}

.modal {
  position: absolute;
  transform: translate(150px, -60px);
  background-color: rgb(3, 144, 3);
  color: #fff;
  border-radius: 10px;
  display: none;
}

.modalShow {
  display: block;
}
