*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-montserrat: "Montserrat Alternates";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #3d3535;
}

.backContainer {
  background-image: url("../public/BackgroundWave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
